body {
  background-color: #f1f1f1;
}

.trombinoscope {
    text-align: center;
  }
  
  
  .person {
    display: inline-block; /* Afficher les personnes en ligne */
    margin: 20px;
    border: 1px solid #ccc; /* Ajouter une bordure autour de chaque personne */
    padding: 10px;
  }
  
  .person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .person p {
    margin: 5px 0;
  }

/* Styles pour les formulaires */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: #45a049;
}

.person {
  position: relative;
  width: 200px;
  margin: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.person:hover {
  transform: scale(1.05);
}

.person img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.person-content {
  padding: 10px;
  text-align: center;
}

.person p {
  margin: 5px 0;
}

.person button {
  padding: 10px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.person button:hover {
  background-color: #0b7dda;
}

/* Styles pour les formulaires */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: #45a049;
}
